// import
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
$background-color: #000;
$white-text: #fff;
$siliver-color: #a8a8a8;
$paper-color: #f4f4f4;
$gold-color: #c0b283;
#root {
    background: $paper-color;
}

.attention {
    // background-image: url("../../image/trebleClef.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100%;
    color: $white-text;
}

.jumbotron {
    background-color: $background-color !important;
}

.lead {
    font-family: 'Titillium Web', sans-serif;
}

canvas {
    background-color: $background-color;
    border-radius: .5%;
}

.orgName {
    position: absolute;
    color: $gold-color;
    top: 15%;
    left: 40%;

    h1 {
        font-size: 50px;
    }

    .lead {
        font-size: 23px;
    }
}

.quote {
    background-image: url("http://allswalls.com/images/violin-wallpaper-5.jpg");
    background-position: center;
    color: $white-text;
    height: 20vh;
}